 .hs-cep .input,
 .hs-cep input {
     position: relative;
 }

 .loading {
     width: 100%;
     height: 100%;
     top: 0;
     left: 0;
     position: absolute;
     display: block;
     background-color: rgba(0, 0, 0, 0.1);
 }

 .d-none {
     display: none !important;
 }

 .hs_estado___uf select[readonly] {
     pointer-events: none;
     touch-action: none;
 }